.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 16px 58px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    background-color: $accent-color;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s background-color;

    &:hover {
        background-color: darken($accent-color, 3%);
    }
    &:active {
        background-color: lighten($accent-color, 3%);
    }
}
.btn--small {
    padding: 4px 14px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
}