$hamburger-color: #000000;

.hamburger {
    position: absolute;
    width: 28px;
    height: 28px;
    border: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    z-index: 2;
    & span {
        position: absolute;
        right: 0;
        width: 28px;
        height: 3px;
        border-radius: 3px;
        background-color: $hamburger-color;
        transition: 0.3s background ease,
                    0.1s transform ease;
    }
    & span:first-child {
        top: 5.5px;
    }
    & span:nth-child(2) {
        width: 20px;
        top: 50%;
        margin-top: -1.5px;
    }
    & span:last-child {
        bottom: 5.5px;
    }
    &:hover span {
        background-color: $accent-color;
    }
    &:active span {
        background-color: rgba($accent-color, 0.3);
    }
}
.hamburger--close {
    & span:first-child {
        top: 50%;
        transform: rotate(45deg);

    }
    & span:nth-child(2) {
        transform: translateX(100%);
    }
    & span:last-child {
        top: 50%;
        transform: rotate(-45deg);
    }
}
