.main-nav {
    width: 450px;
}
.main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav__toggle {
    display: none;
}
.main-nav__item {
    margin-right: 37px;
    &:last-child {
        margin-right: 0;
    }
}

.main-nav__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #202020;
    text-decoration: none;
    transition: 0.3s color;

    &:hover {
        color: $accent-color;
    }
    &:active {
        color: lighten($accent-color, 10%);
    }
}

@media (max-width: $mobile-width) {
    .main-nav {
        width: 40px;
    }
    .main-nav__toggle {
        display: block;
    }
    .main-nav__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding-top: 73px;
        background-color: #fff;
        transform: translateX(100%);
        transition: 0.2s all ease;
    }
    .main-nav__wrapper.main-nav__wrapper--shown {
        display: block;
        transform: none;
    }
    .main-nav__list {
        flex-direction: column;
        padding-left: 30px;
    }
    .main-nav__item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        text-align: left;
    }
    .main-nav__link {
        font-size: 25px;
    }
    .main-nav__btn {
        padding: 0;
        background-color: transparent;
        color: #202020;
        font-size: 25px;
        &:hover,
        &:active {
            background-color: transparent;
        }

        &:hover {
            color: $accent-color;
        }
        &:active {
            color: lighten($accent-color, 10%);
        }
    }
    .main-nav__toggle {
        z-index: 2;
    }
}