.main-nav {
    width: 450px;
}
.main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav__toggle {
    display: none;
}
.main-nav__item {
    margin-right: 37px;
    &:last-child {
        margin-right: 0;
    }
}

.main-nav__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #202020;
    text-decoration: none;
    transition: 0.3s color;

    &:hover {
        color: $accent-color;
    }
    &:active {
        color: lighten($accent-color, 10%);
    }
}

@media (max-width: $mobile-width) {
    .main-nav {
        width: auto;
    }
    .main-nav__list {
        flex-direction: column;
    }
    .main-nav__item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 20px;
    }
    .main-nav__link {
        font-size: 25px;
    }
    .main-nav__btn {
        padding: 0;
        background-color: transparent;
        color: #202020;
        font-size: 25px;
        &:hover,
        &:active {
            background-color: transparent;
        }

        &:hover {
            color: lighten($accent-color, 10%);
        }
    }
}