.main-header {
    width: 100%;
    padding-top: 53px;
    padding-bottom: 53px;
}
.main-header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-header__btn {
    display: none;
}
.main-header__logo {
    width: 200px;
}
.main-header__logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color:#202020;
    text-decoration: none;
}
.main-header__logo-link img {
    display: block;
    width: 58px;
    height: 58px;
    margin-right: 25px;
}
.main-header__nav {
    margin-top: 12px;
}
@media(max-width: $small-devices) {
    .main-header__btn {
        display: block;
        margin-top: -14px;
    }
    .main-header__wrapper {
        position: absolute;
        top: 140px;
        left: -100vw;
        width: 100vw;
        min-height: 100vh;
        background-color: #ffffff;
        transition: 0.3s all;
    }
    .main-header--opened {
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .main-header--opened .main-header__wrapper {
        transform: translateX(100%);
    }
}
